<div class="back">
  <small><a href="/">&larr; Back to Gem Index</a></small>
</div>

<ul class="gemlist">
  <% @gem.by_name do |name, versions| %>
    <li class="gem-version">
      <% if spec = spec_for(name, versions.newest.number) %>
        <h2><%= name %> <small><%= versions.count == 1 ? versions.first.number : "#{versions.oldest.number} - #{versions.newest.number}" %></small></h2>

        <h4 class="small-heading">Authors</h4>
        <p class="author"><%= spec.authors.join(', ') %></p>

        <h4 class="small-heading">Description</h4>
        <p class="description"><%= spec.description %></p>

        <h4 class="small-heading installation">Versions</h4>
        <% versions.each.reverse_each do |version| %>
          <div class="small-details">
            <span class="detail small-heading">Actions</span>
            <span class="detail download hint--top" data-hint="Download"><a class="download" href="<%= url("/gems/#{version.gemfile_name}.gem") %>"><span class="icon">download</span></a></span>
            <form class="detail delete hint--top js-delete-form" data-hint="Delete" method="post" action="<%= url("/gems/#{version.gemfile_name}.gem") %>">
              <input type="hidden" name="_method" value="DELETE" />
              <button type="submit"><span class="icon">delete</span></button>
            </form>
          </div>

          <pre><code>gem install <%= version.name %> <%= "--prerelease" if version.number.to_s.match(/[a-z]/i) %> -v "<%= version.number %>"</code></pre>
          <% unless version.platform =~ /^ruby/i %>
            <small class="platform"><%= version.platform %></small>
          <% end %>
        <% end %>

      <% end %>
    </li>
  <% end %>
</ul>
