<div id="setup-instructions">
  <small>If you did not need any credentials to get to this page</small>
    <pre><code>gem sources -a <%= url "/" %></code></pre>
  <small>If you needed some credentials to get to this page</small>
    <pre><code>gem sources -a <%= url.to_s.gsub('://','://username:password@') %></code></pre>
  <small>and then ...</small>
    <pre><code>gem install geminabox<br />gem inabox [gemfile]</code></pre>
</div>

<% if @gems.any? %>

  <div id="alpha_index"><%= ("a".."z").map{|i| @index_gems.include?(i) ? "<a href='#jump_#{i}'>#{i}</a>" : i }.join(" ") %></div>

  <ul class="gemlist">

    <% @gems.by_name do |name, versions| %>
      <li <%= %{id="jump_#{name[0..0].downcase}"} if @index_gems.delete(name[0..0].downcase) %> class="gem-version">
        <% if spec = spec_for(name, versions.newest.number) %>
          <h2>
            <a href="<%= url("/gems/#{name}") %>">
              <%= name %> <small><%= versions.count == 1 ? versions.first.number : "#{versions.oldest.number} - #{versions.newest.number}" %></small>
            </a>

            <% versions.newest.tap do |version| %>
              <form class="detail delete hint--top js-delete-form" data-hint="Delete" method="post" action="<%= url("/gems/#{version.gemfile_name}.gem") %>">
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit"><span class="icon">delete</span></button>
              </form>

              <span class="detail download hint--top" data-hint="Download"><a href="<%= url("/gems/#{version.gemfile_name}.gem") %>"><span class="icon">download</span></a></span>
            <% end %>

            <% if versions.count >= 2 %>
              <span class="detail info hint--top" data-hint="Older Versions">
                <a href="<%= url("/gems/#{name}") %>" id="more_link"><span class="icon">info</span></a>
              </span>
            <% end %>

            <span class="detail homepage hint--top" data-hint="Gem Homepage"><a href="<%= spec.homepage %>"><span class="icon">home</span></a></span>
            <span class="detail author hint--top" data-hint="<%= spec.authors.join(', ').strip == "" ? "No Authors Listed" : spec.authors.join(', ') %>"><span class="icon">person</span></span>
          </h2>

          <% if spec.summary %>
            <p><%= spec.summary %></p>
          <% end %>
        <% end %>

      </li>
    <% end %>
  </ul>
<% end %>
